<ul class = "list-unstyled">
    <p>Myノウハウ一覧</p>
    <% knowhows.each do |knowhow| %>
    <li class = "media mb-3">
        <div class = "media-body">
            <div>
                <%= link_to knowhow.title, knowhow_path(knowhow) %>
                <span class = "text-muted">posted at <%= knowhow.created_at %></span>
            </div>
           
            <div>
                <% if @pocket == knowhow.pocket %>
                <%= link_to "Delete", knowhow, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger btn-sm" %>
               
                <% end %>
            </div>
        </div>
    </li>
    <% end %>
    <%= paginate knowhows %>
</ul>