<% if logged_in? %>
<p>Myポケット編集ページ</p>
<div class = "row">
    <% if current_user == @pocket.user %>
    <aside class = "col-sm-4">
        <%= form_with(model: @pocket, local: true) do |f| %>
        <div class = "form-group">
            <%= f.text_area :pocket_name, class: "form-control", rows: 5 %>
        </div>
        <%= f.submit "編集OK", class: "btn btn-primary btn-block" %>
        <% end %>
    </aside>
    <% end %>
</div>
<% end %>