  <a href="
<%= followers_user_path(@user) %>
" class="nav-link 
<%= 'active' if current_page?(followers_user_path(@user)) %>
">Followers <span class="badge badge-secondary">
<%= @count_followers %>
</span></a>

<%= render 'users', users: @followers %>