// Place all the styles related to the knowhows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span {
  padding: 0 3px 1px;
  color: #ffffff;
  border-radius: 25px;
  
  .true {
    background-color: #79d460;
  }
  .false {
    background-color: #f18686;
  }
}